body { 
    background-color: #FACC2E;
    padding-top: 50px;
}

.wrap {
    display: inline-block;
    width: 100%;
    height: 100px;
}

.wrapper {
    position: relative;

    background-color: #3e69a9;

    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 10px;
}

.wrapper:hover .change {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s ease-out;
}

.done {
    text-decoration: line-through;
    color: #ccc;
}

.title-edit {
    position: absolute;
    top: 15px;
    left: 50px;
}

.edit {
    position: absolute;
    top: -3px;

    width: 640px;    
}

.change {
    visibility: hidden;
    display: inline-block;
    
    position: absolute;
    
    padding-left: 7px;
    padding-right: 10px;

    top: 14px;
    right: 8px;
    opacity: 0;
}

.vertical-border  {
    margin-right: 5px;
    border-left: 1px solid gray;
}

.line {
    list-style: none;

    position: relative;

    margin-bottom: 10px; 
}

.fa-pencil, .fa-trash-o {
    color: white;
}

.fa-times:hover {
    color: red;
}

.title {
    color: white;
    font-weight: 500;
}

/*==== create task ====*/
.create-task {
    height: 48px;
    width: 100%;

    background-color: #d2d2d2;

    position: relative;
}

.add {
    position: absolute;
    top: 9px;
    left: 12px;
}

.fa-plus {
    color: #5c9173;
}

.create {
    position: absolute;

    width: 640px;
    height: 35px;

    top: 6px;
    left: 50px;
}

input::-webkit-input-placeholder {
    padding-left: 10px;
}

input:-moz-placeholder {
    padding-left: 10px;
}

input::-moz-placeholder {
    padding-left: 10px;
}

input:-ms-input-placeholder {
    padding-left: 10px;
}

.btn-create {
    position: absolute;

    width: 120px;

    top: 6px;
    left: 690px; 
}
/* ================== */

/* ======= task list =======*/
.list-task {
    position: relative;

    background-color: #fff;

    -moz-border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px; /* future proofing */
    -khtml-border-radius: 0 0 10px 10px; /* for old Konqueror browsers */

    margin-bottom: 50px;
}

.line-task {
    list-style: none;

    border-top: 2px solid #D8D8D8;

    position: relative;
}

.wrapper-task {
    position: relative;
}

.check-task {
    width: 45px;

    padding-top: 10px;
    padding-bottom: 10px;

    border-right: 4px double #F6CEE3;
}

.check-task input {
    margin: 1px 0 0 15px;
}

.name-task {
    position: absolute;
    top: 11px;
    left: 60px;

}

.title-task {
    color: #A4A4A4;
}

.name-task .edit {
    width: 630px; 
}
/* ================== */

.change-task i {
    color: #A4A4A4;
}

.change-task {
    /*visibility: hidden;*/
    display: inline-block;
    
    position: absolute;

    top: 10px;
    right: 40px;
   /* opacity: 0;*/
}



.fa-asc {
    position: absolute;
    top: 0px;
    left: -15px;

    height: 8px;
    width: 15px;

}

.fa-sort-desc {
    position: absolute;
    top: 3px;
    left: -15px;
}

.wrapper-task:hover {
    -moz-border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px; /* future proofing */
    -khtml-border-radius: 0 0 10px 10px; /* for old Konqueror browsers */

    background-color: #fcfed5;
}
/*.wrapper-task:hover .change-task {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s ease-out;
}*/
