<div class="container">
    <div class="col-sm-6 col-sm-offset-3">
        <h1><span class="fa fa-sign-in"></span> Signup</h1>
        <div data-alert-info></div>
        <form>
            <div class="form-group">
                <label>Email</label>
                <input data-ng-change="hideErrorAlert()" type="email" class="form-control" name="email" placeholder="email" data-ng-model="user.email" data-ng-pattern="/^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$/" required />
            </div>
            <div class="form-group">
                <label>Password</label>
                <input data-ng-change="hideErrorAlert()" type="password" class="form-control" name="password" placeholder="password" data-ng-model="user.password" data-ng-pattern="/^[a-zA-Z0-9]{5,15}$/" required />
            </div>

            <button type="submit" class="btn btn-warning btn-lg" data-ng-click="signup()">Signup</button>
        </form>
        <hr>
        <p>Already have an account? <a data-ng-href="#/login">Login</a></p>
        <p>Or go <a data-ng-href="#/">home</a>.</p>
    </div>
</div>