<div id="todo-list" class="row">
    <ul class="col-sm-8 col-sm-offset-2 my-tasks">
        <li class="checkbox line" ng-repeat="todo in todos" ng-model="doneTodo"> 
            <div class="wrapper">
                <div>
                    <input type="checkbox" ng-model="todo.done" ng-click="updateStatus(todo._id, {'done': !todo.done})" />
                </div>

                <div class="task-edit">
                    <span ng-class="{'done': todo.done}" ng-show="!editing[$index]" ng-dblclick="edit($index)" class="task">{{ todo.task }}</span>                           
                    <form ng-submit="updateTodo($index)">
                        <input ng-show="editing[$index]" ng-model="todo.task" class="edit" ng-show="editing[$index]" />
                    </form>
                </div>

                <div class="change">
                    <i ng-click="edit($index)" ng-show="!editing[$index]" class="fa fa-pencil-square-o fa-2x"></i>
                    <i ng-click="deleteTodo(todo._id)" class="fa fa-times fa-2x"></i>
                </div> 
            </div>       
        </li>
    </ul>
</div>