<div id="todo-list" class="row">
    <a ng-href="#/logout" class="btn btn-default btn-sm col-sm-offset-1" data-ng-click="logout()">Logout</a>

    <ul class="col-sm-8 col-sm-offset-2">
        <li class="line" data-ng-repeat="todo in todos" data-ng-model="doneTodo"> 
            <div class="wrapper">
                <div class="icon">
                   <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1"><i class="fa fa-calendar" ></i></span>
                        <input type="text" class="form-control" placeholder="dd/mm/yyyy" aria-describedby="basic-addon1"  data-ng-model="todo.date"  ng-change="updateDate(todo._id, $index)"jqdatepicker />
                    </div>
                </div>

                <div class="title-edit">
                    <span data-ng-class="{'done': todo.done}" data-ng-show="!editing[$index]" ng-dblclick="editTitle($index)" class="title" data-ng-bind="todo.title"></span>                           
                    <form data-ng-submit="updateTodo($index)">
                        <input data-ng-show="editing[$index]" data-ng-model="todo.title" class="edit" />
                    </form>
                </div>

                <div class="change">
                    <i data-ng-click="editTitle($index)" data-ng-show="!editing[$index]" class="fa fa-pencil"></i>
                    <i class="vertical-border"></i>
                    <i data-ng-click="deleteTodo(todo._id, $index)" class="fa fa-trash-o"></i>
                </div> 
            </div> 
            
            <div data-create-task></div>

            <div data-task-list></div>
        </li>
    </ul>
</div>