<div id="todo-list" class="row">
    <ul class="col-sm-8 col-sm-offset-2">
        <li class="line" ng-repeat="todo in todos" ng-model="doneTodo"> 
            <div class="wrapper">
                <div class="icon">
                    <i class="fa fa-calendar"></i>
                </div>

                <div class="title-edit">
                    <span ng-class="{'done': todo.done}" ng-show="!editing[$index]" ng-dblclick="editTitle($index)" class="title">{{ todo.title }}</span>                           
                    <form ng-submit="updateTodo($index)">
                        <input ng-show="editing[$index]" ng-model="todo.title" class="edit" />
                    </form>
                </div>

                <div class="change">
                    <i ng-click="editTitle($index)" ng-show="!editing[$index]" class="fa fa-pencil"></i>
                    <i class="vertical-border"></i>
                    <i ng-click="deleteTodo(todo._id)" class="fa fa-trash-o"></i>
                </div> 
            </div> 
            
            <!-- create task -->
            <div class="create-task">
                <div class="add">
                    <i class="fa fa-plus fa-2x"></i>
                </div>

                <form>
                    <input class="create" placeholder="Start typing here to create a task" ng-model="todo.task.name" />
                </form>

                <button type="submit" class="btn btn-success btn-create" ng-click="createTask(todo._id, $index)">Add Task</button>  
            </div>
            <!-- ========== -->

            <!-- task list -->
            <div class="list-task">
                <ul>
                    <li class="line-task" ng-repeat="task in todo.tasks" ng-model="doneTask">
                        <div class="wrapper-task">
        <div class="check-task">
            <input type="checkbox" ng-model="task.done" ng-click="updateStatus(todo._id, {'done': task.done, 'index': $index})" />
        </div>

        <div class="name-task">
            <span ng-class="{'done': task.done}" ng-show="!editingTask[task._id]" ng-dblclick="editTask(todo._id, task._id, $index)" class="title-task">{{ task.name }}</span> 

            <form ng-submit="updateTask(todo._id, task._id, $index)">
                <input ng-show="editingTask[task._id]" ng-model="task.name" class="edit" />
            </form>
        </div>

    <div class="change-task">
        <div class="fa-asc"><i class="fa fa-sort-asc"></i></div>
        <div class="fa-desc"><i class="fa fa-sort-desc"></i></div>
        
        <i class="vertical-border" ng-show="!editingTask[task._id]"></i>
        <i ng-click="editTask(todo._id, task._id, $index)" ng-show="!editingTask[task._id]" class="fa fa-pencil"></i>
        <i class="vertical-border"></i>
        <i ng-click="deleteTask(todo._id, $index)" class="fa fa-trash-o"></i>
    </div> 
                        </div>  
                    </li>
                </ul>
            </div>
            <!-- ============ -->
        </li>
    </ul>
</div>